
<main>
  <br><br><br>
  <div class="mt-3">
   <p>
      <a class="btn btn-outline-warning collapsed" href="#publicar" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="publicar">
        {{#if editMode}}Editar{{else}} Publicar{{/if}}
      </a>
    </p>
  <div class="{{#if editMode}}collapse show{{else}}collapse{{/if}}" id="publicar" style="">
  <div class="card card-body">
   <form method="post" enctype="multipart/form-data" action="{{#if editMode}}/edit-publications{{else}}/{{/if}}">
    <div class="mb-3">
    <label for="Publicacion">Escriba lo que quiere publicar</label>
    <textarea class="form-control"  rows="3" name="Publicacion">{{#if editMode}} {{publi.description}} {{/if}}</textarea>
  </div>
  <div class="mb-3">
    <label for="Imagen Publicacion">Imagen de la publicacion</label>
    <input class="form-control" type="file" name="image">
  </div>
   {{#if editMode}} 
        {{#if (equals publi.img "")}}
        {{else}}
         <div class="mb-3 ">
           <div class="imgedit">
             <img src="{{publi.img}}" alt="image publication">
           </div>
           <div class="text-center">
              <input type="checkbox" name="elmimg" class="btn-check" id="btn-check" autocomplete="off">
              <label class="btn btn-danger" for="btn-check">Eliminar imagen</label>
           </div>
         </div>
        {{/if}}       
      
    {{/if}}

    {{#if editMode}}
    <input type="hidden" name="publiId" value="{{publi.id}}">
    {{else}} 
    <input type="hidden" name="userId" value="{{userd.id}}">
    {{/if}}
    <br><br>
  
<button type="submit" class="btn btn-outline-secondary float-end me-3 mb-3" > {{#if editMode}}Editar{{else}} Publicar{{/if}}</button>
 <a href="/" type="button" class="btn btn-outline-danger float-end me-3 mb-3" >Descartar</a>
</form>
</div>
</div>
</div>
 <div class="mt-3">

{{#if hasPublicacion}}
    <h1>No hay mas publicaciones</h1>

{{else}}

  <div class="album py-5 bg-light">
   <div  id="publi-container" class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 g-3">
    
  {{#each publicacion as |publicaciones|}}
  <div class="col">
  <div class="card">
  <div class="card-body">
   <div class="head">
    <img src="{{../userd.img}}">
     <div class="mb-2">
    <p>{{../userd.usuario}}
    </p>
    </div>
  </div>
  <small class="text-muted" >{{publicaciones.date}}</small>
  <br>
  <br>
    <p class="card-text">{{publicaciones.description}}</p>
  </div>
  {{#if (equals publicaciones.img "")}}
  {{else}}
  <img src="{{publicaciones.img}}" class="card-img-bottom" alt="...">
  {{/if}}
  <div class="card-footer">
  <div class="row btn-center">
  <div class=" col-4 ">  
  <a href="/edit-publications/{{publicaciones.id}}?edit=true" type="button" class="btn ms-5 btn-warning ">Editar</a>
  </div>
  <div class="col-4  ">
  <a href="/edit-publications/{{publicaciones.id}}?edit=true" type="button" class="btn  btn-primary ">Comentar</a>
  </div>
  <div class="col-4 ">
  <form method="POST" id="form-delete-publi" action="/drop-publication" class="form-inline">
    <input type="hidden" name="publiId" value= "{{publicaciones.id}}" />
     <div class="">
    <button type="submit"  class="btn btn-danger  delete-publi">Eliminar</button> 
    </div>
</form>     

 </div>
</div>
</div>
</div>
</div>
<div> <br> <br> </div>
{{/each}}
</div>
</div>
</div>
{{/if}}
  
</div>
</main>